@media(max-width: 1800px) {
    .line {
        display: none !important;
    }
}

@media(max-width: 1600px) {
    /* Global */
    .container {
        width: 85vw;
    }

    .sectionTitle {
        margin-bottom: 20px;
    }

    /* Header */

    .header {
        margin-top: 40px !important;
    }

    .header .logo {
        font-size: calc(15px + 10 * ((100vw - 400px)/(1200)));
    }

    .header .logo .gold {
        font-size: calc(25px + 10 * ((100vw - 400px)/(1200)));
    }

    /* Landing */

    .landing {
        width: 100%;
        height: calc(85vw / 1.5);
    }

    .landing .landingTextMain::after,
    .sectionTitle::after,
    .sectionTitle::before,
    .deklaracja .deklaracjaTitle::before
    {
        display: none !important;
    }

    .landing .landingBackground {
        height: auto;
        display: block;
    }

    .landing .landingTextMain, .landing .landingTextMain .gold {
        font-size: calc(30px + 10 * ((100vw - 400px)/(1200)));
    }

    .landing .landingTextMinor {
        font-size: 16px;
        top: 420px;
    }

    /* Aktualnosci */

    .aktualnosci .aktualnosciHeader {
        font-size: calc(30px + 10 * ((100vw - 400px)/(1200)));
    }

    .aktualnosciItem .aktualnosciTitle {
        font-size: calc(20px + 12 * ((100vw - 400px)/(1200)));
    }

    .aktualnosciItem .aktualnosciDate {
        font-size: calc(16px + 4 * ((100vw - 400px)/(1200)));
    }

    .aktualnosciItem .aktualnosciExcerpt {
        font-size: calc(15px + 3 * ((100vw - 400px)/(1200)));
    }

    .aktualnosci .allArticlesBtn {
        font-size: calc(20px + 12 * ((100vw - 400px)/(1200)));
    }

    /* Galeria */
    .galeria .galeriaContainer {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 300px);
    }

    /* Video */
    .videoContainer {
        width: 100%;
    }

    .videoContainer iframe {
        width: 400px;
        height: 225px;
    }

    /* Single post */
    .btn--backToFront {
        width: 80% !important;
    }

    .articleContent .left {
        transform: translateY(0) !important;
    }
}

@media(max-width: 1400px) {
    /* Header */
    .header .mainMenu ul {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .header .mainMenu ul li {
        width: 150px;
        text-align: center;
        margin: 30px 10px 0 10px;
    }
}

@media(max-width: 1200px) {
    /* Aktualnosci */
    .aktualnosciItem {
        width: 40%;
    }

   .aktualnosciItem:last-child {
        display: none;
    }

    /* Galeria */
    .galeria .galeriaContainer {
        grid-template-columns: repeat(2, calc((85vw - 200px) / 2 - 20px));
        grid-template-rows: repeat(3, calc(((85vw - 200px) / 2 - 20px) / 1.2));
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    /* Spoleczni sponsorzy */
    .sponsorzySpoleczniContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-row-gap: 0;
        grid-column-gap: 0;
        width: auto;
    }

    .sponsorzySpoleczniItem {
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    .sponsorzySpoleczniItem .overlay .sponsorName {
        font-size: 18px !important;
    }

    /* Video */
    .videoContainer {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .videoContainer iframe {
        margin-top: 30px;
    }

    /* Kurier Turzenski */
    .kurier {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    /* Galeria */
    .galeria .galeriaContainer {
        display: flex;
        flex-direction: column;
        grid-row-gap: 0 !important;
    }

    .galeria .galeriaContainer .galeriaItem {
        margin: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

@media(max-width: 1000px) {
    .container {
        width: 100vw;
    }

    .desktopOnly {
        display: none !important;
    }

    /* Page header */
    .headerPage .logo {
        margin: auto !important;
    }

    /* Hamburger menu */
    .headerFront {
        display: none !important;
    }

    .headerPage {
        background-color: #F4F4F4;
        margin-top: 0 !important;
    }

    .headerPage::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        height: 2px;
        background-color: #907B55;
    }

    .headerPage .logo {
        text-align: center;
    }

    .article {
        margin-top: 0;
    }

    .mobileHeader {
        display: block;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
    }

    .hamburgerMenu {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 10;
    }

    .hamburgerMenu .hamburgerLine {
        width: 100%;
        height: 4px;
        background-color: #363533;
        display: block;
    }

    /* Landing */
    .landing {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: calc(100vw / 1.5);
    }

    .landing .landingTextMain, .landing .landingTextMinor {
        position: relative;
        top: auto;
        left: auto;
        text-align: center;
    }

    .landing .landingTextMinor {
        margin-top: 50px;
    }

    .progressBar {
        display: none !important;
    }
}

@media(max-width: 900px) {
    /* Global */
    section {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-top: 15px !important;
    }

    /* Aktualnosci */
    .aktualnosci .aktualnosciContainer, .archiwum .archiwumContainer {
        flex-direction: column;
        align-items: center;
    }

    .aktualnosciItem {
        width: 80%;
    }

    .aktualnosciItem:last-child {
        display: block;
    }

    .aktualnosciHeader {
        text-align: center;
    }

    .aktualnosciText {
        width: 80%;
        text-align: center;
        margin: 30px auto;
    }

    /* Turzno */
    .turzno, .deklaracjaContainer {
        flex-direction: column;
        align-items: center;
    }

    .deklaracja .deklaracjaLeft,
    .deklaracja .deklaracjaRight,
    .turzno .left,
    .turzno .right {
        width: 100% !important;
    }

    .turzno .right {
        margin-top: 20px;
    }

    .sectionTitle {
        margin-bottom: 40px !important;
        font-size: 25px !important;
    }

    /* Deklaracja */
    .deklaracja .deklaracjaTitle {
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }

    /* Komitet honorowy */
    .komitetHonorowyItem::after {
        width: 220px;
    }

    .komitetHonorowyLeft .komitetHonorowyItem::after {
        bottom: -20px;
        left: -50px;
    }

    .komitetHonorowyRight .komitetHonorowyItem::after {
        bottom: -20px;
        right: -50px;
    }

    .komitetHonorowyItem .name {
        font-size: 22px;
    }

    .komitetHonorowyItem .description {
        font-size: 14px;
    }

    /* Single post */
    .articleContent, .articleTop {
        flex-direction: column !important;
    }

    .articleContent .left, .articleContent .right,
    .articleTop .left, .articleTop .right
    {
        width: 100%;
    }
}

@media(max-width: 700px) {
    /* Aktualnosci */
    .aktualnosci {
        padding: 20px;
        margin-top: 0 !important;
    }

    .aktualnosciItem {
        width: 100%;
    }

    /* Komitet honorowy */
    .komitetHonorowyContainer {
        flex-direction: column;
    }

    .komitetHonorowyContainer .komitetHonorowyItem {
        width: 100%;
    }

    .komitetHonorowyContainer .komitetHonorowyItem::after {
        bottom: -20px !important;
        left: -150px !important;
    }

    /* Landing */
    .landing {
        height: 100vh;
        max-height: 700px;
        padding: 30px;
    }

    .landing .landingBackground {
        display: none;
    }

    .landing .landingMobile {
        display: block;
    }

    .landing .landingTextMain {
        font-size: 20px;
    }

    .landing .landingTextMain .gold {
        font-size: 24px;
    }

    .landing .landingTextMinor {
        display: none;
    }

    /* Kontakt */
    .kontaktContainer .kontaktName {
        font-size: 15px;
    }

    .kontaktContainer .kontaktData {
        font-size: 15px;
    }

    .kontaktContainer .right {
        transform: translateY(0);
    }

    .kontaktContainer {
        flex-direction: column;
    }

    .kontaktContainer .right {
        flex-direction: row;
        margin-top: 30px;
    }

    .kontaktContainer .right .socialMedia {
        margin-right: 25px;
    }

    /* Single post */
    .article {
        padding: 50px;
    }

    .article .articleContent {
        margin-top: 0;
    }

    .btn--backToFront {
        width: 100% !important;
    }

    .article .btn--backToFront a {
        font-size: 14px !important;
    }
}

@media(max-width: 500px) {
    /* Spoleczni sponsorzy */
    .sponsorzySpoleczniContainer {
        flex-direction: column;
        align-items: center;
    }

    .sponsorzySpoleczniItem {
        width: 200px;
        height: 200px;
        margin: 15px;
    }
}

@media(max-width: 450px) {
    /* Youtube */
    .videoContainer iframe {
        width: 290px;
        height: 164px;
    }
}